	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:03
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-asymmetrical-floral-design-of-spirals:before { content: "\f100"; }
.flaticon-ball-surrounded-by-spirals:before { content: "\f101"; }
.flaticon-beautiful-floral-design:before { content: "\f102"; }
.flaticon-bell-flower-with-leaf-outline:before { content: "\f103"; }
.flaticon-branch-with-a-leaf-and-a-seed:before { content: "\f104"; }
.flaticon-corner-floral-design:before { content: "\f105"; }
.flaticon-couple-of-flowers-in-symmetry:before { content: "\f106"; }
.flaticon-couple-of-roses-in-symmetry:before { content: "\f107"; }
.flaticon-decoration-design:before { content: "\f108"; }
.flaticon-double-symmetry-in-floral-design:before { content: "\f109"; }
.flaticon-floral-ascendant-design:before { content: "\f10a"; }
.flaticon-floral-bell-design-with-leaves-and-curls:before { content: "\f10b"; }
.flaticon-floral-bell-outline-with-leaves-and-vines-design:before { content: "\f10c"; }
.flaticon-floral-bell-variant-outline-with-flower-buds-and-vines:before { content: "\f10d"; }
.flaticon-floral-bell-variant-with-vines:before { content: "\f10e"; }
.flaticon-floral-bells-border-with-vines-and-leaves:before { content: "\f10f"; }
.flaticon-floral-bud-design-with-curled-lines:before { content: "\f110"; }
.flaticon-floral-bud-design-with-curls:before { content: "\f111"; }
.flaticon-floral-bud-with-vines-design:before { content: "\f112"; }
.flaticon-floral-circular-design:before { content: "\f113"; }
.flaticon-floral-complex-design-with-symmetry:before { content: "\f114"; }
.flaticon-floral-complex-symmetric-design:before { content: "\f115"; }
.flaticon-floral-corner-design:before { content: "\f116"; }
.flaticon-floral-curves-and-swirls-design:before { content: "\f117"; }
.flaticon-floral-design:before { content: "\f118"; }
.flaticon-floral-design-1:before { content: "\f119"; }
.flaticon-floral-design-beauty:before { content: "\f11a"; }
.flaticon-floral-design-border-on-the-right-side:before { content: "\f11b"; }
.flaticon-floral-design-border-with-curls:before { content: "\f11c"; }
.flaticon-floral-design-chandelier:before { content: "\f11d"; }
.flaticon-floral-design-for-ornamentation:before { content: "\f11e"; }
.flaticon-floral-design-like-a-butterfly:before { content: "\f11f"; }
.flaticon-floral-design-like-a-closed-rose-with-thin-branch:before { content: "\f120"; }
.flaticon-floral-design-like-a-heart-of-symmetric-spirals-of-thin-lines:before { content: "\f121"; }
.flaticon-floral-design-mirror-effect:before { content: "\f122"; }
.flaticon-floral-design-of-a-rose-bud-with-symmetric-curved-lines:before { content: "\f123"; }
.flaticon-floral-design-of-asymmetric-shape:before { content: "\f124"; }
.flaticon-floral-design-of-delicate-shapes:before { content: "\f125"; }
.flaticon-floral-design-of-double-symmetry:before { content: "\f126"; }
.flaticon-floral-design-of-flowers-and-leaves-in-symmetrical-distribution:before { content: "\f127"; }
.flaticon-floral-design-of-flowers-and-leaves-on-branches-lines:before { content: "\f128"; }
.flaticon-floral-design-of-horizontal-symmetry:before { content: "\f129"; }
.flaticon-floral-design-of-one-central-flower-on-top-with-two-spirals:before { content: "\f12a"; }
.flaticon-floral-design-of-one-flower:before { content: "\f12b"; }
.flaticon-floral-design-of-one-flower-and-one-leaf:before { content: "\f12c"; }
.flaticon-floral-design-of-one-flower-lines-and-small-circles:before { content: "\f12d"; }
.flaticon-floral-design-of-one-flower-on-a-branch-with-one-leaf:before { content: "\f12e"; }
.flaticon-floral-design-of-one-flower-on-a-branch-with-two-seeds-and-one-leaf:before { content: "\f12f"; }
.flaticon-floral-design-of-one-leaf-on-a-curved-line-of-branch:before { content: "\f130"; }
.flaticon-floral-design-of-retro-style:before { content: "\f131"; }
.flaticon-floral-design-of-small-thin-spirals:before { content: "\f132"; }
.flaticon-floral-design-of-spirals:before { content: "\f133"; }
.flaticon-floral-design-of-symmetric-lines-and-dots:before { content: "\f134"; }
.flaticon-floral-design-of-symmetric-shapes:before { content: "\f135"; }
.flaticon-floral-design-of-symmetric-shapes-1:before { content: "\f136"; }
.flaticon-floral-design-of-symmetric-shapes-in-symmetry:before { content: "\f137"; }
.flaticon-floral-design-of-symmetrical-shapes-in-symmetry:before { content: "\f138"; }
.flaticon-floral-design-of-thin-branches-symmetry-with-leaves:before { content: "\f139"; }
.flaticon-floral-design-of-thin-branches-with-a-couple-of-leaves-at-sides:before { content: "\f13a"; }
.flaticon-floral-design-of-vintage-style:before { content: "\f13b"; }
.flaticon-floral-design-outlines-and-leaves:before { content: "\f13c"; }
.flaticon-floral-design-silhouette:before { content: "\f13d"; }
.flaticon-floral-design-variant-border:before { content: "\f13e"; }
.flaticon-floral-design-variant-with-curls-and-swirls:before { content: "\f13f"; }
.flaticon-floral-design-variant-with-vines-and-lines:before { content: "\f140"; }
.flaticon-floral-design-with-a-ball-and-thin-curved-lined:before { content: "\f141"; }
.flaticon-floral-design-with-a-central-flower-on-top-and-curved-lines-going-to-both-sides:before { content: "\f142"; }
.flaticon-floral-design-with-a-hanging-ball-in-the-middle-of-vines-with-spirals-flowers-and-leaves:before { content: "\f143"; }
.flaticon-floral-design-with-a-rose-and-a-ball-surrounded-by-vines:before { content: "\f144"; }
.flaticon-floral-design-with-butterflies-and-vines-mirror-effect:before { content: "\f145"; }
.flaticon-floral-design-with-complex-symmetry:before { content: "\f146"; }
.flaticon-floral-design-with-curled-edges:before { content: "\f147"; }
.flaticon-floral-design-with-curls-and-vines:before { content: "\f148"; }
.flaticon-floral-design-with-delicate-double-symmetry-design:before { content: "\f149"; }
.flaticon-floral-design-with-double-symmetry:before { content: "\f14a"; }
.flaticon-floral-design-with-double-symmetry-1:before { content: "\f14b"; }
.flaticon-floral-design-with-double-symmetry-for-ornamentation:before { content: "\f14c"; }
.flaticon-floral-design-with-flowers-couple:before { content: "\f14d"; }
.flaticon-floral-design-with-flowers-leaves-and-buds-on-vines:before { content: "\f14e"; }
.flaticon-floral-design-with-horizontal-symmetry:before { content: "\f14f"; }
.flaticon-floral-design-with-leaves-and-buds:before { content: "\f150"; }
.flaticon-floral-design-with-one-closed-central-flower-on-top-of-vines-curves:before { content: "\f151"; }
.flaticon-floral-design-with-spirals:before { content: "\f152"; }
.flaticon-floral-design-with-spirals-and-symmetry:before { content: "\f153"; }
.flaticon-floral-design-with-spirals-in-horizontal-symmetry:before { content: "\f154"; }
.flaticon-floral-design-with-symmetry:before { content: "\f155"; }
.flaticon-floral-design-with-symmetry-1:before { content: "\f156"; }
.flaticon-floral-design-with-thin-spirals-and-little-flowers-couple:before { content: "\f157"; }
.flaticon-floral-design-with-two-flower-at-sides-and-branches-curved-lines-in-the-middle:before { content: "\f158"; }
.flaticon-floral-design-with-two-leaves-in-symmetry-on-thin-branches:before { content: "\f159"; }
.flaticon-floral-design-with-two-petals-and-pistils:before { content: "\f15a"; }
.flaticon-floral-design-with-two-spheres-and-swirls:before { content: "\f15b"; }
.flaticon-floral-design-with-vertical-and-horizontal-symmetry:before { content: "\f15c"; }
.flaticon-floral-design-with-vertical-and-horizontal-symmetry-1:before { content: "\f15d"; }
.flaticon-floral-design-with-vines-and-leaves-outline:before { content: "\f15e"; }
.flaticon-floral-design-with-vines-and-swirls:before { content: "\f15f"; }
.flaticon-floral-designs-with-one-flower-on-top-of-spirals-in-symmetry:before { content: "\f160"; }
.flaticon-floral-leaves-and-vines-with-bud-design:before { content: "\f161"; }
.flaticon-floral-mirror-effect-design-with-leaves-and-vines:before { content: "\f162"; }
.flaticon-floral-mirror-image-design:before { content: "\f163"; }
.flaticon-floral-ornament:before { content: "\f164"; }
.flaticon-floral-ornamental-design-with-symmetrical-shapes-in-symmetry:before { content: "\f165"; }
.flaticon-floral-right-border-outline-variant:before { content: "\f166"; }
.flaticon-floral-right-side-border-with-vines:before { content: "\f167"; }
.flaticon-floral-silhouette-with-vines-and-leaves-variant-design:before { content: "\f168"; }
.flaticon-floral-simple-design:before { content: "\f169"; }
.flaticon-floral-small-design:before { content: "\f16a"; }
.flaticon-floral-spirals-symmetric-design:before { content: "\f16b"; }
.flaticon-floral-symmetric-design:before { content: "\f16c"; }
.flaticon-floral-symmetric-design-1:before { content: "\f16d"; }
.flaticon-floral-symmetric-design-for-elegant-decoration:before { content: "\f16e"; }
.flaticon-floral-symmetric-design-with-two-leaves:before { content: "\f16f"; }
.flaticon-floral-symmetrical-delicate-design:before { content: "\f170"; }
.flaticon-floral-symmetrical-design:before { content: "\f171"; }
.flaticon-floral-symmetrical-design-for-ornamentation:before { content: "\f172"; }
.flaticon-floral-symmetrical-design-with-a-flower:before { content: "\f173"; }
.flaticon-floral-vertical-design:before { content: "\f174"; }
.flaticon-floral-vines-and-buds-design:before { content: "\f175"; }
.flaticon-floral-vines-design-mirror-effect:before { content: "\f176"; }
.flaticon-floral-vines-mirror-effect:before { content: "\f177"; }
.flaticon-floral-vines-with-leaves-and-borders:before { content: "\f178"; }
.flaticon-floral-vintage-design-with-symmetry:before { content: "\f179"; }
.flaticon-flower-bell-outline-design-variant-with-vines-and-leaves:before { content: "\f17a"; }
.flaticon-flower-bell-outline-with-flower-buds:before { content: "\f17b"; }
.flaticon-flower-bells-with-vines-design:before { content: "\f17c"; }
.flaticon-flower-border-design:before { content: "\f17d"; }
.flaticon-flower-bud-design-with-vines-and-leaves-silhouette:before { content: "\f17e"; }
.flaticon-flower-bud-outline-and-vines-design:before { content: "\f17f"; }
.flaticon-flower-bud-outline-with-vines-in-mirror-effect:before { content: "\f180"; }
.flaticon-flower-bud-with-vines-design:before { content: "\f181"; }
.flaticon-flower-bud-with-vines-design-variant:before { content: "\f182"; }
.flaticon-flower-circle-bud-with-vines-and-leaves:before { content: "\f183"; }
.flaticon-flower-design:before { content: "\f184"; }
.flaticon-flower-design-1:before { content: "\f185"; }
.flaticon-flower-design-2:before { content: "\f186"; }
.flaticon-flower-design-outline:before { content: "\f187"; }
.flaticon-flower-design-rose-variant-mirror-effect:before { content: "\f188"; }
.flaticon-flower-design-with-curls-and-leaves:before { content: "\f189"; }
.flaticon-flower-design-with-leaves-and-vines-variant:before { content: "\f18a"; }
.flaticon-flower-design-with-multiple-vines:before { content: "\f18b"; }
.flaticon-flower-natural-design:before { content: "\f18c"; }
.flaticon-flower-of-circular-design:before { content: "\f18d"; }
.flaticon-flower-on-a-branch:before { content: "\f18e"; }
.flaticon-flower-on-a-branch-with-three-seeds:before { content: "\f18f"; }
.flaticon-flower-on-a-branch-with-three-seeds-1:before { content: "\f190"; }
.flaticon-flower-on-branch:before { content: "\f191"; }
.flaticon-flower-on-vines-ornamental-design:before { content: "\f192"; }
.flaticon-flower-outline-with-leaf-and-bud:before { content: "\f193"; }
.flaticon-flower-vines-and-leaves-right-border:before { content: "\f194"; }
.flaticon-flower-with-three-buds:before { content: "\f195"; }
.flaticon-flowers-couple-symmetric-floral-design:before { content: "\f196"; }
.flaticon-flowers-design:before { content: "\f197"; }
.flaticon-flowers-outline-with-vines-variant:before { content: "\f198"; }
.flaticon-flowers-variant-with-stems-and-buds:before { content: "\f199"; }
.flaticon-flowery-vines-mirror-effect-design:before { content: "\f19a"; }
.flaticon-heart-of-swirls-in-floral-ornamental-design:before { content: "\f19b"; }
.flaticon-lamp-design-with-curls:before { content: "\f19c"; }
.flaticon-leaf-outline-with-circle-buds:before { content: "\f19d"; }
.flaticon-leaf-with-curls-design:before { content: "\f19e"; }
.flaticon-leaves-group-in-floral-design:before { content: "\f19f"; }
.flaticon-leaves-outline-with-vines:before { content: "\f1a0"; }
.flaticon-multiple-shapes-design:before { content: "\f1a1"; }
.flaticon-natural-branch-with-flower-seeds-and-leaf:before { content: "\f1a2"; }
.flaticon-one-branch-with-one-flower-one-seed-and-one-leaf:before { content: "\f1a3"; }
.flaticon-one-flower:before { content: "\f1a4"; }
.flaticon-one-flower-and-one-leaf-on-a-branch:before { content: "\f1a5"; }
.flaticon-one-flower-floral-design:before { content: "\f1a6"; }
.flaticon-one-flower-of-slightly-opened-design:before { content: "\f1a7"; }
.flaticon-one-flower-on-a-branch-with-three-seeds:before { content: "\f1a8"; }
.flaticon-one-rose:before { content: "\f1a9"; }
.flaticon-ornament:before { content: "\f1aa"; }
.flaticon-ornamental-floral-design:before { content: "\f1ab"; }
.flaticon-ornamental-floral-design-with-symmetry:before { content: "\f1ac"; }
.flaticon-ornamental-symmetrical-design:before { content: "\f1ad"; }
.flaticon-rose-buds-symmetric-floral-design:before { content: "\f1ae"; }
.flaticon-rose-floral-variant-with-vines-mirror-effect:before { content: "\f1af"; }
.flaticon-rose-flower-variant-with-vines-and-leaves-design:before { content: "\f1b0"; }
.flaticon-rose-on-corner-frame-lines:before { content: "\f1b1"; }
.flaticon-rose-outline-variant-with-leaves-and-vines-design:before { content: "\f1b2"; }
.flaticon-rose-outline-variant-with-leaves-silhouette-and-vines:before { content: "\f1b3"; }
.flaticon-rose-outline-variant-with-vines-and-leaves:before { content: "\f1b4"; }
.flaticon-rose-outline-with-branch-and-a-leaf:before { content: "\f1b5"; }
.flaticon-rose-variant-outline-with-vines:before { content: "\f1b6"; }
.flaticon-rose-with-buds:before { content: "\f1b7"; }
.flaticon-royal-bud-flower-variant-with-leaves-and-vines-design:before { content: "\f1b8"; }
.flaticon-spirals-of-vines:before { content: "\f1b9"; }
.flaticon-sunflower-design-with-vines-border:before { content: "\f1ba"; }
.flaticon-sunflower-variant-with-leaves-and-vines:before { content: "\f1bb"; }
.flaticon-sunflower-variant-with-leaves-border:before { content: "\f1bc"; }
.flaticon-sunflower-with-vines-and-leaves-variant-border:before { content: "\f1bd"; }
.flaticon-sunflowers-mirror-effect-design-with-flower-buds:before { content: "\f1be"; }
.flaticon-symmetric-ornament:before { content: "\f1bf"; }
.flaticon-tulip-flower-outline-with-leaves-and-vines:before { content: "\f1c0"; }
.flaticon-tulip-outline-variant:before { content: "\f1c1"; }
.flaticon-tulips-outline-with-leaves-mirror-effect:before { content: "\f1c2"; }
.flaticon-two-flowers-floral-design:before { content: "\f1c3"; }
.flaticon-two-flowers-on-branches-with-leaves-and-seeds:before { content: "\f1c4"; }
.flaticon-two-flowers-symmetry:before { content: "\f1c5"; }
.flaticon-two-opened-flowers-with-a-couple-of-buds-surrounded-by-leaves-on-vines:before { content: "\f1c6"; }
.flaticon-vintage-complex-floral-ornamental-design:before { content: "\f1c7"; }