<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Calligraphy, Typography and Lettering by Hally Ammons</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/flaticon.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="stylesheets/blueimp-gallery.min.css" />


    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png?v=2" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png?v=2" sizes="16x16">
    <link rel="manifest" href="/images/manifest.json">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag "blueimp-gallery.min.js" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
