.header
  .container
    .row
      .col-md-12
        .splash-container
          .splash-outer
            .splash
              %i.flaticon-floral-curves-and-swirls-design
              %h1 Lettering by Hally
              %h2 Custom, hand-printed letters and stationary

  = partial :scrolldown

.portfolio
  .container
    .row
      .col-md-12
        .middle-line
          %h1
            %span
              %img(src="/images/asymmetrical-floral-design-of-spirals.svg")
              Portfolio
              %img(src="/images/asymmetrical-floral-design-of-spirals.svg")

    .row.portfolio-images
      .col-md-4.col-sm-6.col-xs-12
        %img(src="/images/p1.jpg")
      .col-md-4.col-sm-6.col-xs-12
        %img(src="/images/p2.jpg")
      .col-md-4.col-sm-6.col-xs-12
        %img(src="/images/p3.jpg")
      .col-md-4.col-sm-6.col-xs-12
        %img(src="/images/p4.jpg")
      .col-md-4.col-sm-6.col-xs-12
        %img(src="/images/p5.jpg")
      .col-md-4.col-sm-6.col-xs-12
        %img(src="/images/p6.jpg")
      .col-md-4.col-sm-6.col-xs-12
        %img(src="/images/p7.jpg")
      .col-md-4.col-sm-6.col-xs-12
        %img(src="/images/p8.jpg")
      .col-md-4.col-sm-6.col-xs-12
        %img(src="/images/p9.jpg")

.services
  .container
    .row
      .col-md-12
        .middle-line
          %h1
            %span
              %img(src="/images/asymmetrical-floral-design-of-spirals.svg")
              Services
              %img(src="/images/asymmetrical-floral-design-of-spirals.svg")
    .row
      .col-md-4.col-sm-6.col-xs-12
        %p
          %i.flaticon-flower-design-1
          Stationary
      .col-md-4.col-sm-6.col-xs-12
        %p
          %i.flaticon-one-rose
          Letterheads
      .col-md-4.col-sm-6.col-xs-12
        %p
          %i.flaticon-flower-design-2
          Placecards
      .col-md-4.col-sm-6.col-xs-12
        %p
          %i.flaticon-flower-design-2
          Wedding invitations
      .col-md-4.col-sm-6.col-xs-12
        %p
          %i.flaticon-flower-on-branch
          Save-the-date cards
      .col-md-4.col-sm-6.col-xs-12
        %p
          %i.flaticon-flower-on-vines-ornamental-design
          Other thangs
.contact
  .container
    .row
      .col-md-12
        .middle-line
          %h1
            %span
              %img(src="/images/asymmetrical-floral-design-of-spirals.svg")
              Contact
              %img(src="/images/asymmetrical-floral-design-of-spirals.svg")

          %p You can reach me via <a href="mailto:hello@letteringbyhally.com">email</a>, <a href="https://instagram.com/letteringbyhally">instagram</a>, or the contact form below.

        .contact-form.panel.panel-default
          .panel-body
            %form(method="POST" action="https://formspree.io/gammons@gmail.com")
              %input(type="hidden" name="_next" value="//letteringbyhally.com/thanks.html")

              .form-group
                %label Name
                %input.form-control(name="Name" placeholder="Name" required)

              .form-group
                %label Email address
                %input.form-control(name="Email" placeholder='your@email.com' required)

              .form-group
                %label Phone
                %input.form-control(name="Phone" placeholder='215-123-1234')

              .form-group
                %label What would you like done?
                %textarea.form-control(name="Request" rows=3)
              %button.btn.btn-lg(type="submit") Submit

.footer
  .container
    .row
      .col-md-12
        .social-icons
          %i.fa.fa-facebook
          %i.fa.fa-instagram
          %i.fa.fa-envelope-o
        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        Copyright &copy; #{Time.now.year} Hally Ammons
